body {
    margin: 0;
}

.text-color {

}

.fyl-hd {
    background-color: #FFFFFF;
    border-bottom: #EEEEEE 2px solid;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 999;
}

.fyl-ft {
    background-color: #FFFFFF;
    border-top: #EEEEEE 2px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 999;
}

.fyl-fanhui {
    font-size: 25px;
    color: #1296db;
    font-weight: bold;
}

.fyl-left {
    width: 30%;
    position: relative;
    left: 15px;
    float: left;
}

.fyl-center {
    width: 40%;
    float: left;
    text-align: center;
}

.fyl-right {
    width: 30%;
    right: 15px;
    float: right;
    position: relative;
    text-align: right;
}

.fyl-body {
    padding: 50px 0;
}

.fyl-ft {
    /*text-align: center;*/
    /*padding: 0 15px;*/
    color: #1296db;
    font-size: 20px;
}

.fyl-ul li {
    display: inline-block;
    padding: 0 20px;
    color: #1296db;
}

.fyl-line-right {
    border-right: 1px solid #EEEEEE;
}

.fyl-ft-left {
    float: left;
    color: #1296db;
    position: relative;
    left: 15px;
}

.fyl-ft-right {
    float: right;
    color: red;
    position: relative;
    right: 15px;
}

.fyl-bg {
    background-color: #1296db;
}
.fyl-title{
    color: #1296db;
    font-size: 20px;
}